* {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100vw;
    font-size: 30px;
    color: white;
}

body {
    background-image: url(/space\ background.jpeg);
    background-size: cover;
}

header {
    text-align: center;
    margin-top: 10px;
}

header h1 {
    font-size: 50px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 20px;
    text-shadow: 5px 5px 2px purple;
}

.name-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;

}
#player-one, #player-two {
    width: 200px;
    height: 35px;
    text-align: center;
    color: purple;
    font-size: 20px;

}

#start-button {
    width: 150px;
    font-size: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    color: black;
    height: 30px;
    text-align: center;

}

#board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    width: 600px;
    margin-top: 5px;
}

.cell {
    border: 2px solid white;
    width: 200px;
    height: 190px;
    text-align: center;
    font-size: 125px;
    padding-top: 15px;
    text-shadow: 2px 2px 5px white;
}




@media screen and (max-width: 650px) {
    #board {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-evenly;
        width: 375px;
        margin-top: 30px;
    }

    .cell {
        border: 2px solid white;
        width: 125px;
        height: 150px;
        font-size: 75px;
        margin: 0 auto;
        padding-top: 25px;
    }

    .name-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        justify-content: space-around;
    
    }
    #player-one, #player-two {
        width: 175px;
        height: 35px;
        text-align: center;
        color: purple;
        font-size: 17px;
    
    }
}